pkgbase = t3code-bin
	pkgdesc = T3 Code desktop app packaged from the upstream AppImage
	pkgver = 0.0.3
	pkgrel = 1
	url = https://github.com/pingdotgg/t3code
	arch = x86_64
	license = MIT
	depends = openai-codex-bin
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = gtk3
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = zlib
	optdepends = xdg-utils: open links from the desktop client
	provides = t3code
	conflicts = t3code
	options = !strip
	source = T3-Code-0.0.3-x86_64.AppImage::https://github.com/pingdotgg/t3code/releases/download/v0.0.3/T3-Code-0.0.3-x86_64.AppImage
	source = t3code-icon.png
	source = LICENSE
	sha256sums = d5f2a47c81422d3bad64184fba6aafa34d0f8e664eeb7d302e707d37919ee596
	sha256sums = 52c86008b11f90f36b8a8f4cc43b1352d5fda9084c6e5691b806f5bca1a968b6
	sha256sums = 935d8f2af0c703f9c39517ee57cc4930b19d02d533be930b63f0e82f93614b43

pkgname = t3code-bin
